

body{
  font-family: 'Plus Jakarta Sans', sans-serif !important; 
  background-color: #ffffff;
  color: #222222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
  padding: 2rem 1rem;
}
.navbar{
  height: 5rem;
  background-color: white;
}
.fa-compass{
  color: #fe4224;
  font-size: 2rem;
}
.nav-link{
  color: #222222 ! important;

} 
.f-info{
  width: 100%;
}
.f-info-links{
  width: 100%;
}
.f-info-socail{
  width: 100%;
  font-size: 1.5rem;
}
.f-info-socail i{
  color: #222222;
  margin: 0 0.5rem;
}
.f-info-links a{
  color: #222222 ! important;
  text-decoration: none;
}
.f-info-links a:hover{
  text-decoration: underline;
}
.f-info{
  text-align: center;
  min-height: 10rem;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  gap: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
}
/* Cards */
.card{
  margin-bottom: 1rem;
  border: none ! important;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  opacity: 1;
  transform: translateY(0);
  transition: 
    transform 0.6s ease-in-out 0.3s,
    opacity 0.6s ease-in-out 0.3s;
}
.card-img-top{
  border-radius: 1rem;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-body{
  padding: 0.8rem !important;

} 
.card-title{
  font-size: 1.2rem;
  font-weight: bold;
}
.card-text{
  font-size: 1rem;
  color: #555555;
}
.cards-container a{
  text-decoration: none;
  color: inherit;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   opacity: 0.8;
  transform: translateY(-10px);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

/* NEW PAGE  */
.add-btn{
  background-color: #fe4224 !important;
  border: none !important;
}
.add-btn:hover{
  background-color: #222222 !important;
  border: none !important;
}
.add-btn a{
  text-decoration: none;
  color: white;
}
/* SHOW PAGE */
.show-img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .show-text {
    font-size: 14px;
  }
}